nuxeo-case-management-core/src/main/resources/schemas/actionnable_case_link.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://cm.nuxeo.com/schemas/actionnablecaselink/"
  xmlns:acmxs="http://case-management.nuxeo.com/schemas/actionnablecaselink/"
  xmlns:nxs="http://case-management.nuxeo.com/schemas/base/">

 <xs:include schemaLocation="base.xsd" />

 <xs:element name="dueDate" type="xs:date"/>
 <xs:element name="automaticValidation" type="xs:boolean" default="false"/>
 <xs:element name="taskType" type="xs:string"/>
 <xs:element name="validationOperationChainId" type="xs:string"/>
 <xs:element name="refusalOperationChainId" type="xs:string"/>
 <xs:element name="stepDocumentId" type="xs:string" />

</xs:schema>
