nuxeo-case-management-core/src/main/resources/schemas/case.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://cm.nuxeo.com/schemas/case/"
  xmlns:cmxs="http://cm.nuxeo.com/schemas/case/"
  xmlns:nxs="http://casemanagement.nuxeo.com/schemas/base/">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="documentsId" type="cmxs:documentsIdType" />

  <xs:complexType name="documentsIdType">
    <xs:sequence>
      <xs:element name="documentId" type="xs:string" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>

