nuxeo-case-management-core/src/main/resources/schemas/correspondence_envelope.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://correspondence.nuxeo.com/schemas/envelope/"
  xmlns:ncxs="http://correspondence.nuxeo.com/schemas/envelope/"
  xmlns:nxs="http://correspondence.nuxeo.com/schemas/base/">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="documentsId" type="ncxs:documentsIdType" />

  <xs:complexType name="documentsIdType">
    <xs:sequence>
      <xs:element name="documentId" type="xs:string" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>

