nuxeo-case-management-core/src/main/resources/schemas/routing_task.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://cm.nuxeo.com/schemas/routing_task/"
  xmlns:tsxs="http://cm.nuxeo.com/schemas/routing_task/"
  xmlns:nxs="http://casemanagement.nuxeo.com/schemas/base/">
 
 <xs:element name="type" type="xs:string"/>
 <xs:element name="distributionMailboxId" type="xs:string"/>
 <xs:element name="dueDate" type="xs:date"/>
 <xs:element name="automaticValidation" type="xs:boolean" default="false"/>
 <xs:element name="actionnable" type="xs:boolean"/>
  
</xs:schema>

