nuxeo-correspondence-core/src/main/resources/schemas/correspondence_relation.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://correspondence.nuxeo.com/schemas/relation/"
  xmlns:ncxs="http://correspondence.nuxeo.com/schemas/relation/">

  <xs:include schemaLocation="correspondence_statement.xsd" />

  <xs:element name="is_envelope_of_resource" type="ncxs:relationList" />
  <xs:element name="is_answer_to" type="ncxs:relationList" />


  <xs:complexType name="relationList">
    <xs:sequence>
      <xs:element name="item" type="ncxs:statement" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>