nuxeo-correspondence-core/src/main/resources/schemas/correspondence_document.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://correspondence.nuxeo.com/schemas/document/"
  xmlns:ncxs="http://correspondence.nuxeo.com/schemas/document/">

  <xs:element name="firstResponseDate" type="xs:date" />
  <xs:element name="responseDocumentIds" type="ncxs:stringArray" />
  <xs:element name="repliedDocumentId" type="xs:string" />

  <xs:simpleType name="stringArray">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

</xs:schema>
