nuxeo-correspondence-core/src/main/resources/schemas/correspondence_link.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="link">
    <xs:sequence>
      <xs:element name="targetDocId" type="xs:string" />
      <xs:element name="creationDate" type="xs:date" />
      <xs:element name="modificationDate" type="xs:date" />
      <xs:element name="order" type="xs:integer" />
      <xs:element name="comment" type="xs:string" />
      <xs:element name="author" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>


